# Virtual environments
engie-env/
.venv/

# Ignore training datasets
training/data/*
# Keep placeholder file
!training/data/.gitkeep


# Large files
*.csv
*.parquet
*.h5
*.pt
*.pkl

# Python cache
__pycache__/
*.pyc

# Logs
logs/

